<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://raw.githubusercontent.com/lhr000lhr/SynxPlugin/master/DaoSanJiao%202016-01-20%2018-15-13/DaoSanJiao.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://192.168.23.1:8888/down/image57.jpg</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://192.168.23.1:8888/down/image512.jpg</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.chinatelecom.xizang.surfingportal</string>
				<key>bundle-version</key>
				<string>1.1.1</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>DaoSanJiao</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
